@font-face {
  font-family: Montserrat-extra-bold;
  src: url(../assets/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: Montserrat-semi-bold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-medium;
  src: url(../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

*{
  transition: 0.05s ease;
  font-size: 16px;
}

body {
  margin: 3px;
}

.bordered {
  border: 1px solid black;
}
.bordered-red {
  border: 1px solid red;
}

.nav {
  /* border: 1px solid; */
  /* padding: 2px; */
  margin: auto;
  max-width: 1200px;
}

.logo-container {
  max-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.logo-container img {
  width: 100%;
  padding: 20px;
  max-width: 200px;
  margin-right: auto;
}

#nav-mobile {
  display: flex;
  justify-content: flex-end;
  justify-content: flex-end;
  align-items: center;
}

/* nav toggler  */
#nav-toggle {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px;
  background-color: #0a2492;
  border: 1px solid #fefefe;
}

.nav-toggle-dash {
  padding: 2px;
  width: 20px;
  background-color: white;
}


.nav a {
  font-family: Montserrat-semi-bold;
}

.links-horizontal {
  display: flex;
  justify-content: end;
  gap: 5%;
  align-items: center;
  height: 100%;
}

.links-horizontal a:not(.contact-us) {
  color: #0a2492;
}

.contact-us {
  background-color: #3db56b;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  text-shadow: 1px 1px 2px #2d2f37;

}
.contact-us:hover {
  background-color: #fff;
  color: #3db56b;
  border: 2px solid #3db56b;
  text-decoration: none;
  text-shadow: 0px 0px 1px #75767a;
}

#nav-mobile-links {
  display: none;
}

#nav-mobile-links ul {
  list-style-type: none;
  padding: 10px;
}
#nav-mobile-links ul li {
  padding: 5px;
}
#nav-mobile-links ul li a:not(.contact-us) {
  padding: 5px;
  color: #0a2492;
}

@media screen and (max-width: 480px) {
  * {
    font-size: 14px;
  }
  .logo-container img {
  padding: 10px;
}
  body {
    margin: 0px;
  }
  .nav #nav-not-mobile {
    display: none;
  }
  #cta a,
  span {
    font-size: 14px;
  }

  #cta a {
    padding: 0px 10px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 481px) {
  .nav #nav-not-mobile {
    display: block;
  }
  .nav #nav-not-mobile {
    display: block;
  }

  .nav #nav-mobile,
  #nav-toggle,
  #nav {
    display: none;
  }
}

/* CTA */
#cta {
  background-color: #f4f7fc;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: Montserrat-regular;
}

#cta a {
  border: 2px solid transparent;
  font-variant: small-caps;
  font-family: Montserrat-semi-bold;
  display: inline-block;
  background-color: #3db56b;
  color: white;
  padding: 0px 25px;
  border-radius: 5px;
  text-shadow: 1px 1px 2px #2d2f37;

}
#cta a:hover {
  background-color: #fff;
  color: #3db56b;
  border: 2px solid #3db56b;
  text-shadow:0px 0px 1px #8a8b8f;
  text-decoration: none;
}

/* home styles*/

#home {
  background-color: #0a2492;
  padding: 30px 0px;
}

#home > div {
  max-width: 1200px;
  margin: auto;
}

#home h1 {
  text-align: center;
  color: white;
  padding-top: 20px;
  letter-spacing: 5px;
  font-weight: 900;
  font-family: Montserrat-extra-bold;
    text-shadow: 3px 3px 2px #111c4b;

}
#home h2 {
  text-align: center;
  /* border: 1px solid; */
  color: rgb(243, 243, 243);
  padding: 20px;
  line-height: 1.3;
  max-width: 400px;
  font-family: Montserrat-extra-bold;
  text-shadow: 1px 1px 2px #111c4b;
}
#home p {
  color: white;
  line-height: 1.5;
  max-width: 550px;
  font-family: Montserrat-regular;
}

#home a.cta {
  font-variant: small-caps;
  display: inline-block;
  background-color: #061e8a;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: Montserrat-semi-bold;
}

#home a.cta:hover {
  text-shadow: 0px 0px 1px #0c0c0c;
  background-color: #fff;
  color: #0a2492;
  border: 2px solid transparent;
  text-decoration: none;
}



#home-bg {
  width: 100%;
}

#home .divide {
  padding: 20px;
}

#home .divide > div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 10px;
}

#home .divide  p {
  line-height: 1.5;
}

#home h3 {
  color: white;
  text-shadow: 2px 2px 1px #0c0c0c;
  font-family: Montserrat-extra-bold;
  text-align: left;
  font-size: 20px;
  border: 1px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}


.featured-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.featured-icons > div >div a{
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  gap: 10px;
}
.featured-icons > div >div a:hover{
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid white;
  text-decoration: none;
}

.featured-icons > div {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}


.featured-icons > div  a span  {
  text-align: center;
  margin: 0px;
  color: #fff;
}



.featured-icons > div  img {
  width: 80%;
  max-width: 100px;
  margin: auto;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.844);
}

@media screen and (max-width: 480px) {
  #home {
    padding: 30px 0px;
  }
  #home p{
    text-align: justify;
  }
  #home h1 {
    line-height: 1.15;
    padding: 10px;
  }
  #home h2 {
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.15;
  }
  #home h3 {
    text-align: center;
    /* border: 1px solid; */
  }

  #home a {
    /* width: 100%; */
    margin: auto;
    text-align: center;
    color: #fff;
  }

.featured-icons > div > a {
  border: none;
  /* border: 1px solid; */
  /* font-size: 10px; */
  text-align: center;
}

.cta-cont{
  display: flex;
  justify-content: center;
}
.cta-cont a{
  width: 70%;
  display: flex;
  justify-content: center;
}


  #home .divide {
    padding: 0px;
  }

  #home .divide > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: space-evenly;
    padding: 0px;
    padding-bottom: 10px;
  }
  #home .divide  p {
    text-align: justify;
  }

.featured-icons > div{
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.featured-icons > div> div{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}

.featured-icons > div  img {
  max-width: 100%;
  margin: auto;
  box-shadow: 3px 3px 3px rgb(26, 25, 25);
}

  img#home-bg {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  #home h2 {
    padding: 0px;
    text-align: left;
  }
}

/* figures */

#figures {
  position: relative;
}

#figures {
  background-color: #f4f7fc;
  padding: 50px 0px;
  border: 1px solid #f2f2f2;
}

#figures .item {
  margin-bottom: 30px;
  /* border: 1px solid #f2f2f2; */
  padding: 20px ;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#figures .item img {
  width: 80%;
  max-width: 100px;
  height: auto;
  display: block;
  padding: 5px;
  margin: auto;
  box-shadow: 0px 0px 3px 2px #666565;
   /* border: 1px solid #424242; */
 border-radius: 50%; 
}

#figures .item p.green {
  background-color: green;
  
}
#figures .item p.orange {
  background-color: orangered;
  
}
#figures .item p {
  text-align: center;
  padding: 10px 5px;
  max-width: 250px;
  margin: auto;
  font-size: 14px;
  font-family: Montserrat-semi-bold;
  background-color: #061e8a;
  color: white;
  box-shadow: 0px 0px 3px #424242;
  border: 5px solid #f2f2f2;
}
/* features */

#features {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}
#features h1 {
  text-align: center;
  font-family: Montserrat-extra-bold;
  font-size: 50px;
  color: #0a2492;
  margin-bottom: 30px;
}

#features .item {
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

#features p.info {
  max-width: 500px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  line-height: 1.5;
}

#features img {
  max-width: 100%;
  height: auto;
}

#features .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#features .text p {
  line-height: 1.5;
}
#features .text p.header {
  color: #0a2492;
  font-family: Montserrat-extra-bold;
  padding: 10px;
}
#features .text p.body {
  max-width: 400px;
}

#features .blue-stroke {
  background-color: #0a2492;
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

@media screen and (max-width: 480px) {
  #features h1 {
    font-size: 25px;
  }

  #features .text p.header {
    text-align: center;
  }
  #features .text p.body {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  #features h1 {
    /* font-size: 5vw; */
  }
}

/* roadmap */
#roadmap {
  margin-bottom: 100px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}
#roadmap h1 {
  font-family: Montserrat-extra-bold;
  text-align: center;
  padding: 10px;
  color: #0a2492;
}
.roadmap-section {
  border: 1px solid #f2f2f2;
  height: 100%;
  margin: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 10px;
}
.roadmap-section-reverse {
  border: 1px solid #f2f2f2;
  display: flex;
  height: 100%;
  flex: 1;
  margin: auto;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  /* padding: 15px; */
}
.roadmap-section,.roadmap-section-reverse p{
  font-family: Montserrat-regular;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.roadmap-section-text-header {
  font-family: Montserrat-extra-bold;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 1px #918f8f;
}


.roadmap-section-reverse .roadmap-section-text-header {
  font-family: Montserrat-extra-bold;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #b4b0b0;
}

.roadmap-circle {
  border: 15px solid;
  font-family: Montserrat-extra-bold;
  padding: 20px;
  border-radius: 50%;
  font-size: 35px;
  font-weight: bold;
  box-shadow: 0px 0px 2px 0px  #706f6f, 0px 0px 2px 1px  #525151;;
  text-shadow: 1px 2px 1px #b4b1b1;
  height: auto;
  
}

.roadmap-section-cont {
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* border: 1px solid; */
  width: 100%;
}
#roadmap .arrow > div {
  color: #71799b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: Montserrat-extra-bold;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #71799b;
  border-bottom: 10px solid transparent;
}

@media screen and (max-width: 480px) {
  .roadmap-section{
    width: 100%;
    padding: 10px;
  }
  
  .roadmap-section-reverse {
    flex-direction: column;
    padding: 10px;
  }
  
  #roadmap .arrow > div {
    display: none;
  }
  .roadmap-section-cont {
    flex-direction: column;
    padding: 20px;
  }
  
}
@media screen and (min-width: 480px) {
  /* .roadmap-section-cont {
    flex-wrap: wrap;
  } */
  
}

/* meet team */
#meet-team,
#advisors {
  background-color: #0a2492;
  padding: 30px 10px;
}

#meet-team h3{
  padding: 30px;
  color: white;
  font-family: Montserrat-extra-bold;
  text-shadow: 2px 2px 3px #2d2f37;
  text-align: center;
}

.team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  gap: 15px;
  max-width: 1200px;
  margin: auto;
}
.team-members > div {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 3px #2d2f37;
  align-items: center;
  margin: auto;
  /* flex: 1; */
  /* min-height: 400; */
  /* width: 100%; */
}

.team-members .image{
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  border: 1px solid #f2f2f2;
  overflow: hidden;
}
.team-members .image img{
  width: 100%;
  height: auto;
}
.team-members .image {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}
.team-members p {
  text-align: center;
margin-bottom: 10px;
font-family: Montserrat-semi-bold;
/* min-height:70px; */
/* min-height:40px; */
/* border: 1px solid; */
}

.team-members .icon {
  width:50px;
  height: 50px;
  background-color: #0a2492;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.team-members .icon a{
  color: white;
  font-size: 20px;
  font-family: Montserrat-extra-bold;
  text-decoration: U;
}

@media screen and (max-width:480px) {
#meet-team{
  padding: 10px;
}

.team-members{
  flex-direction: column;
}
.team-members > div {
  flex-direction: row;
  width: 100%;
}
  
}

/* quote */
#quote {
  background-color: #f4f7fc;
  padding: 10px;
}
#quote .image img{
  width: 90%;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  margin: auto;
  margin:20px;
}
#quote .image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-sections {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote p {
  line-height: 1.5;
  font-family: Montserrat-medium;
  text-align: justify;
  padding: 10px;
}

#quote h3 {
  font-family: Montserrat-semi-bold;
  text-align: center;
}

@media screen and (max-width:480px) {
  
}
/* advisors */

#advisors {
  /* border: 1px solid; */
  margin: auto;
  padding: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #061e8a;
}

#advisors h3{
  padding: 20px;
  font-family: Montserrat-extra-bold;
  text-align: center;
  /* border: 1px solid; */
  color: white;
  width: 100%;
}



#advisors .items-container > div{
  border: 1px solid green;

}
#advisors .items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#advisors .item img{
  max-width: 150px;
}

#advisors .item {
  background-color: white;
  margin: 1px 0px;
  border-radius: 5px;
  padding: 10px;
}



.advisors .text {
  /* border:1px solid ; */
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advisors .image {
  /* border:1px solid ; */
  flex: 1;
  padding: 10px;
}
.advisors .image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* documents */
#documents{
  padding:  50px;
  border: 1px solid #f2f2f2;
}

#documents a{
  padding: 20px;
  background-color: #3db56b;
  color: white;
  font-family: Montserrat-semi-bold;
  border-radius: 10px;
  border: 2px solid transparent;
}
#documents a:hover{
  padding: 20px;
  border: 2px solid #3db56b;
  text-decoration: none;
  background-color: #fff;
  color: #3db56b;
  font-family: Montserrat-semi-bold;
}

#documents h3{
  text-align: center;
  font-family: Montserrat-extra-bold;
  color: #061e8a;
  margin-top: 20px;
  margin-bottom: 30px;
}
#documents > div> div{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 20px;
}


@media screen and (max-width: 480px) {
#documents{
  padding: 20px;
}

  #documents > div> div{
  flex-direction: column;
}
#documents a{
  padding: 10px 15px; 
  text-align: center;
}
  
}

/* right choices */
#right-choices {
  padding: 30px;
}
#right-choices h2 {
  font-family: Montserrat-extra-bold;
  text-align: center;
  color: #0a2492;
  padding: 20px;
}
#right-choices h3 {
  text-align: center;
}

.choice-cont {
  max-width: 1200px;
  margin: auto;
  /* border: 1px solid; */
}

.choice {
  padding: 10px;
  /* border: 1px solid; */
}


.choice .image {
  height: 200px;
  background-color: #555;
  border-radius: 10px;
  background-size: cover;
  box-shadow: 0px 0px 3px #555;
}

.image-info {
  padding: 10px;
  font-variant: small-caps;
  color: #0a2492;
}

.choice .header {
  font-size: 20px;
  color: #0a2492;
  font-family: Montserrat-extra-bold;
  /* border: 1px solid; */
  text-align: left;
}

@media screen and (max-width:480px) {
  #right-choices{
    padding: 30px 0px;
  }
  .choice .header {
    text-align: center;

  }
  .image-info{
    text-align: center;
    font-family: Montserrat-semi-bold;
    margin-bottom: 0px;
  }
  .choice h2{
    padding: 10px;
  }
  
}




.cta {
  /* border: 1px solid; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta a {
  background-color: #3db56b;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  font-variant: small-caps;
  font-family: Montserrat-semi-bold;
}

/* faqs */
#faqs {
  /* border: 1px solid; */
  /* padding: 30px; */
}

#faqs h1 {
  text-align: center;
  color: #0a2492;
  font-family: Montserrat-extra-bold;
}

.faqs-cont p{
  font-family: Montserrat-regular;
}

.faqs-cont {
  /* border: 1px solid; */
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.faq,.faq-sub {
  border-top: 3px solid #f2f2f2;
  padding: 10px;
  font-size: 20px;
  font-family: Montserrat-semi-bold;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.faq p,.faq-sub p {
  color: #0a2492;
  flex: 1;
  margin-bottom: 0px;
}

.faq p:hover,.faq-sub p:hover{
  cursor: pointer;
  color: #0a2492;
  font-family: Montserrat-extra-bold;
  flex: 1;
  margin-bottom: 0px;
}

.faq-trangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #0a2492;
}

.faq-hide{
  display: none;
  padding: 10px;
}

/* footer */
#footer {
  background-color: #0a2492;
  padding: 0px 50px;
}

#footer p.header {
  font-family: Montserrat-semi-bold;
  font-size: 18px;
  margin-bottom: 20px;
}

#footer p {
  color: white;
  font-family: Montserrat-regular;
  font-size: 15px;
}

.footer-cont {
  max-width: 1200px;
  padding: 20px;
}
.footer-cont > div {
  padding: 10px;
}

#footer .icon {
  display: inline-block;
  /* padding: 15px; */
  margin: 10px;
  border-radius: 50%;
  background-color: #061e8a;
}

#footer .icon img{
  display: inline-block;
}

#footer input {
  background-color: #fff;
  padding: 10px;
  color: #424242;
  border: 1px solid white;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
}

#footer .mail{
  color: white;
}

#footer button {
  padding: 10px;
  border: 1px solid white;
  background-color: #2d4edd;
  border-radius: 0px 10px 10px 0px;
  color: white;
}

@media screen and (max-width: 480px) {
  #footer{
    padding: 0px 0px;
  }
  .footer-cont {
  max-width: 1200px;
  padding: 20px 0px;
}
  
}